.image-box {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  gap: 4px;
  padding: 10px;
}

.image-box img {
  width: 32px;
  height: auto;
}

#toggle { display: none; }

.image-container {
  width: 300px;
  cursor: pointer;
  display: block;
  position: relative; /* 為了讓圖片重疊 */
}

.original,
.new {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease; /* 加入淡入淡出動畫 */
  width: 100%;
  height: auto;
}

.original { opacity: 1; }
.new { opacity: 0; }

/* 點擊切換圖片 */
#toggle:checked + .image-container .original { opacity: 0; }
#toggle:checked + .image-container .new { opacity: 1; }
